.blog_comments, .blog_post_comment {
    margin: 16px 0;
}

.blog_comments h3, .blog_post_comment h3 {
    background-color: #eee;
    font-size: 0.9em;
    padding: 4px 8px;
    font-weight: normal;
}

.blog_post_comment textarea {
    width: 100%;
    min-height: 10em;
    overflow-y: scroll;
}

.blog_post_comment button {
    padding: 2px 16px;
    margin: 16px 0;
}

.comment {
    padding: 20px;
    border-top: 1px dotted #ccc;
}

.comment.first {
    border-top: none;
}

.comment_bottom {
    font-size: 0.9em;
    line-height: 2;
}

.comment_timestamp {
    color: #666;
}

.comment_operations {
    float: right;
}

.blog_nav_prev {
    display: inline-block;
    float: left;
    text-align: left;
}

.blog_nav_next {
    display: inline-block;
    float: right;
    text-align: right;
}

