input[name="title"] {
    box-sizing: border-box;
    width: 100%;
    margin: 12px 0;
    font-size: 1.4em;
}

textarea[name="content"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 20em;
    overflow-y: scroll;
    margin-bottom: 12px;
}

input[name="tags"] {
    width: 50%;
}

#create_category_panel #category_input,
#create_category_panel #create_category_ok,
#create_category_panel #create_category_cancel {
    display: none;
}

#create_category_panel.visible #category_input,
#create_category_panel.visible #create_category_ok,
#create_category_panel.visible #create_category_cancel {
    display: inline-block;
}

#create_category_panel #create_category_btn {
    display: inline-block;
}

#create_category_panel.visible #create_category_btn {
    display: none;
}
